<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <package name="com.study.cms.manager.entity"/>
    </typeAliases>

    <environments default="dev_mysql">
        <environment id="dev_mysql">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/cms?serverTimezone=Asia/Shanghai"/>
                <property name="username" value="liyi"/>
                <property name="password" value="liyi"/>
            </dataSource>
        </environment>

    </environments>


    <databaseIdProvider type="DB_VENDOR">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
        <property name="SQL Server" value="sqlserver"/>
    </databaseIdProvider>

    <mappers>
        <mapper resource="com/study/cms/manager/mapper/DeptMapper.xml"></mapper>
        <mapper resource="com/study/cms/manager/mapper/MenuMapper.xml"></mapper>
        <mapper resource="com/study/cms/manager/mapper/RoleMapper.xml"></mapper>
        <mapper resource="com/study/cms/manager/mapper/UserMapper.xml"></mapper>
    </mappers>
</configuration>