<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.cms.manager.mapper.MenuMapper">
    <resultMap id="resultMap1" type="com.study.cms.manager.entity.Menu">
        <id     property="id"   column="id"></id>
        <result property="name" column="name"></result>
        <result property="url" column="url"></result>
        <result property="openType"     column="open_type"></result>
        <result property="parenId"     column="paren_id"></result>
        <result property="createDate"     column="create_date"></result>
        <result property="lastUpdateDate" column="last_update_date"></result>
    </resultMap>

    <select id="queryMenuList" parameterType="map" resultMap="resultMap1">
        select id ,name  ,url  ,open_type ,
        parent_id ,create_date,last_update_date
        from c_menu
        where 1=1
        <if test="name !=null and name !='' ">
            and name like #{name}
        </if>
        <if test="openType !=null and openType !='' ">
            and open_type like #{openType}
        </if>
        <if test="parentId!=null and parentId !='' ">
            and parent_id like #{parentId}
        </if>
        limit #{firstPage} , #{pageSize}
    </select>

    <select id="queryMenuTotal" parameterType="map" resultType="Integer">
        select  count(id)  total from c_menu where 1=1
        <if test="name!=null and name !='' ">
            and name like #{name}
        </if>
        <if test="openType!=null and openType !='' ">
            and open_type like #{openType}
        </if>
        <if test="parentId!=null and parentId !='' ">
            and parent_id like #{parentId}
        </if>
    </select>

    <delete id="deleteMenu" parameterType="integer">
        delete from c_menu where id=#{id,jdbcType=VARCHAR}
    </delete>

    <update id="updateMenu" >
        update c_menu set name=#{name},url=#{url},open_type=#{openType},parent_id=#{parentId},
                          create_date=#{createDate},last_update_date=#{lastUpdateDate}
        where id=#{id}
    </update>

    <insert id="addMenu"  parameterType="com.study.cms.manager.entity.Menu">
        insert into c_menu(name  ,url  ,open_type ,parent_id,
                           create_date ,last_update_date)
        values (#{name}, #{url} ,#{openType} ,#{parentId} ,#{createDate} ,#{lastUpdateDate})
    </insert>

    <select id="queryMenuById" parameterType="integer" resultType="com.study.cms.manager.entity.Menu">
        select id ,name  ,url  ,open_type ,parent_id,
               create_date ,last_update_date
        from c_menu
        where id=#{id}
    </select>


</mapper>