<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.cms.manager.mapper.UserMapper">
    <resultMap id="resultMap1" type="com.study.cms.manager.entity.User">
        <id     property="id"   column="id"></id>
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="phone"     column="phone"></result>
        <result property="name"     column="name"></result>
        <result property="address" column="address"></result>
        <result property="sex"     column="sex"></result>
        <result property="dept_id"     column="dept_id"></result>
    </resultMap>

    <select id="queryUsers" parameterType="map" resultMap="resultMap1">
        select id ,username ,password ,phone ,
        name ,address,sex,dept_id
        from c_user
        where 1=1
        <if test="username !=null and username !='' ">
            and username like #{username}
        </if>
        <if test="name !=null and name !='' ">
            and name like #{name}
        </if>
        <if test="sex!=null and sex !=2 ">
            and sex like #{sex}
        </if>
        <if test="createUserId!=null and createUserId !='' ">
            and create_user_id like #{createUserId}
        </if>
        limit #{firstPage} , #{pageSize}
    </select>

    <select id="queryUsersTotal" parameterType="map" resultType="Integer">
        select  count(id)  total from c_user where 1=1
        <if test="username !=null and username !='' ">
            and username like #{username}
        </if>
        <if test="name !=null and name !='' ">
            and name like #{name}
        </if>
        <if test="sex!=null and sex !=2 ">
            and sex like #{sex}
        </if>
        <if test="createUserId!=null and createUserId !='' ">
            and create_user_id like #{createUserId}
        </if>
    </select>

    <delete id="deleteUserById" parameterType="integer">
        delete from c_user where id=#{id}
    </delete>

    <update id="updateUser" >
        update c_user set username=#{username},password=#{password},phone=#{phone},name=#{name},
                            address=#{address},sex=#{sex},dept_id=#{dept_id}
        where id=#{id}
    </update>

    <insert id="addUser"  parameterType="com.study.cms.manager.entity.User">
        insert into c_user(username  ,password  ,phone ,name,
                           address ,sex ,dept_id)
        values (#{username}, #{password} ,#{phone} ,#{name} ,#{address} ,#{sex} ,#{dept_id})
    </insert>

    <select id="queryUserById" parameterType="com.study.cms.manager.entity.User" resultMap="resultMap1">
        select id ,username ,password ,phone ,name,
               address ,sex ,dept_id
        from c_user
        where id=#{id}
    </select>

    <select id="queryByUsernameAndPassword" parameterType="com.study.cms.manager.entity.User"  resultMap="resultMap1">
        select id ,username ,password ,phone ,name,
               address ,sex ,dept_id
        from c_user
        where username=#{username} and password=#{password}
    </select>

    <select id="queryByUsername1" resultMap="resultMap1">
        select id ,username ,password ,phone ,name,
               address ,sex ,dept_id
        from c_user
        where id=#{id} and username=#{username}
    </select>

    <select id="queryByUsername2" parameterType="com.study.cms.manager.entity.User" resultMap="resultMap1">
        select id ,username ,password ,phone ,name,
               address ,sex ,dept_id
        from c_user
        where username=#{username}
    </select>




</mapper>