<?xml version='1.0' encoding='UTF-8'?>
<!--表明解析本XML文件的DTD文档位置，DTD是Document Type Definition 的缩写,即文档类型的定义,XML解析器使用DTD文档来检查XML文件的合法性。hibernate.sourceforge.net/hibernate-configuration-3.0dtd可以在Hibernate3.1.3软件包中的src\org\hibernate目录中找到此文件-->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/cms?serverTimezone=Asia/Shanghai</property>
        <property name="hibernate.connection.username">liyi</property>
        <property name="hibernate.connection.password">liyi</property>
        <property name="hibernate.connection.pool.size">20</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="jdbc.fetch_size">50</property>
        <property name="jdbc.batch_size">23</property>
        <property name="jdbc.use_scrollable_resultset">false</property>
        <property name="Connection.useUnicode">true</property>
        <property name="connection.characterEncoding">UTF-8</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <!--删除对象使其OId为bull-->
        <property name="use_identifier_rollback">true</property>
        <!-- 配置 C3P0 数据源 -->
        <property name="hibernate.c3p0.max_size">10</property>
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="c3p0.acquire_increment">2</property>

        <property name="c3p0.idle_test_period">2000</property>
        <property name="c3p0.timeout">2000</property>

        <property name="c3p0.max_statements">10</property>

        <!-- 设定 JDBC 的 Statement 读取数据的时候每次从数据库中取出的记录条数 -->
        <property name="hibernate.jdbc.fetch_size">100</property>


        <mapping resource="com/study/liyi/hibernate/entity/User.hbm.xml"></mapping>
        <mapping resource="com/study/liyi/hibernate/entity/entity1/Customer.hbm.xml"></mapping>
        <mapping resource="com/study/liyi/hibernate/entity/entity1/Order.hbm.xml"></mapping>
        <mapping resource="com/study/liyi/hibernate/entity/entity2/Manager.hbm.xml"></mapping>
        <mapping resource="com/study/liyi/hibernate/entity/entity2/Department.hbm.xml"></mapping>
        <mapping resource="com/study/liyi/hibernate/entity/entity3/Manager.hbm.xml"></mapping>
        <mapping resource="com/study/liyi/hibernate/entity/entity3/Department.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>


