<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <description>公司综合管理系统</description>
    
    <!--1.配置一个监听器-->
    <listener>
        <listener-class>com.study.cms.comm.listener.PlatformInitListener</listener-class>
    </listener>

    <context-param>
        <param-name>projectName</param-name>
        <param-value>cms</param-value>
    </context-param>

    <!--2.配置过滤器-->
    <!--2.1配置字符编码过滤器-->
    <filter>
        <filter-name>characterEncodingFilter</filter-name>
        <filter-class>com.study.cms.comm.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>characterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--2.2为所有的请求设置basepath属性-->
    <filter>
        <filter-name>basePathFilter</filter-name>
        <filter-class>com.study.cms.comm.filter.BasePathFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>basePathFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!--2.3配置登录过滤器-->
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>com.study.cms.comm.filter.LoginFilter</filter-class>
        <init-param>
            <param-name>ignorePath</param-name>
            <param-value>/,/front,/manager/login,/manager/logout,.jsp,.js,.css,.png,.jpeg</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>




    <!--3.配置具体的servlet-->
    <!--3.1 首页-->
    <servlet>
        <servlet-name>managerIndexServlet</servlet-name>
        <servlet-class>com.study.cms.manager.servlet.ManagerIndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>managerIndexServlet</servlet-name>
        <url-pattern>/manager/index</url-pattern>
    </servlet-mapping>

    <!--3.2 登录-->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.study.cms.manager.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/manager/login</url-pattern>
    </servlet-mapping>
    <!--3.3 退出-->
    <servlet>
        <servlet-name>logoutServlet</servlet-name>
        <servlet-class>com.study.cms.manager.servlet.LogoutServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>logoutServlet</servlet-name>
        <url-pattern>/manager/logout</url-pattern>
    </servlet-mapping>
    <!--3.4 显示所有用户-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.study.cms.manager.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/manager/userServlet</url-pattern>
    </servlet-mapping>





    <!--设置项目的默认首页-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>